FlappyBird_Unity/FlappyBird/Library
FlappyBird_Unity/FlappyBird/Logs
FlappyBird_Unity/FlappyBird/obj
FlappyBird_Unity/FlappyBird/Temp
FlappyBird_Unity/FlappyBird/UserSettings
FlappyBird_Unity/FlappyBird/Assemby-CSharp.csproj
FlappyBird_Unity/FlappyBird/FlappyBird.sln
FlappyBird_Unity/FlappyBird/.vs/
FlappyBird_Unity/FlappyBird/.vsconfig
